@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto',sans-serif;
}

input:focus-visible {
    outline: 0;
}

.main{
    background-color: #ffffff;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    min-width: 400px;
    padding: 10px;  
    border-radius: 20px;
    margin-top: 10px;
}

#pass-box{
    width: 100%;
    display: block;
    font-size: 50px;
    font-weight: bold;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
    color: #c2131f;
}

